body{
    background-color: #a8c97f;
    text-align: center;
}

#startGame{
    width: 100px;
    height: 50px;
    background-color: #69b076;
    color: white;
    border-style: none;
    border-radius: 10px;
}


.hidden{
    display:none;
}


/* ラジオボタンの○を消す */
input[type="radio"] {
    display: none;
}
/* 画像の周りに隙間をあける */
label img {
    margin: 3px;
    padding: 5px;
}

label img:hover{
    transform:scale(1.1,1.1);
    transition: 0.3s all;
  }
/* 未選択の場合、色を薄くする */
input[type="radio"] + label img {
    opacity:0.5;
  }
/* 選択済みの場合、色を濃くする */
input[type="radio"]:checked + label img {
    opacity:1;
}

