body{
    background-color: #a8c97f;
    text-align: center;
}

#startGame{
    width: 100px;
    height: 50px;
    background-color: #69b076;
    color: white;
    border-style: none;
    border-radius: 10px;
}

.hidden{
    display:none;
}

