 @charset "UTF-8";

body{
  background-color: #eeece9;
}

p{
  color: #3f5170;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
}

h2{
  color: #3f5170;
  font-size: 30px;
  text-align: center;
}
