 @charset "UTF-8";

body{
  background-color: #eeece9;
}

h1{
  color: #3f5170;
  font-size: 40px;
  text-align: center;
  line-height: 300px;
}

.ib{
  display:inline;
  border: solid 1px #454545;
  border-radius: 5px;
}
